<div layout="column" ng-cloak class="md-inline-form" layout-padding layout-margin layout-fill>
  <form name="registerForm2" ng-submit="registerForm2.$valid && vm.save(registerForm2)">
    <div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="60" flex="100">
          <label>Country</label>
          <md-select  ng-model="vm.country" required name="country" placeholder="Country" ng-model-options="{trackBy: '$value.code'}" ng-change="updateLocationForm(registerForm2)">
            <md-option ng-repeat="country in vm.countries" ng-value="country"> {{country.name}} </md-option>
          </md-select>
          <div class="errors" ng-messages="registerForm2.country.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>City</label>
          <input ng-model="vm.city" ng-required="!vm.isAmerica() || !vm.postalCode">
        </md-input-container>
        <md-input-container ng-show="vm.statesAndProvinces && vm.statesAndProvinces.length > 0" class="md-block" flex-gt-md="60">
          <label>State</label>
          <md-select ng-model="vm.stateOrProvince" required name="stateOrProvince" ng-model-options="{trackBy: '$value.short'}">
            <md-option ng-repeat="state in vm.statesAndProvinces" ng-value="state"> {{state.name}} </md-option>
          </md-select>
          <div class="errors" ng-messages="registerForm2.stateOrProvince.$error">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" ng-if="vm.isAmerica()">
        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>Zip Code</label>
          <input name="postalCode" ng-model="vm.postalCode">
          <small>Your zip will allow us to provide you with a more optimized experience based on your location.</small> </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="buttonDisabled" flex-gt-sm>Save</md-button>
      </div>
    </div>
  </form>
</div>
