<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2></h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" ng-click="cancel()">-->
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>-->
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
       
        <lf-file lf-file-obj="vm.mediaObj" lf-unknow-class="strUnknowIconCls" />
        <textarea froala ng-model="vm.myHtml"></textarea>
        
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="vm.done()">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
